In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_pickle('/content/drive/MyDrive/orders_products_merged.pkl')

In [4]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

Creating the “price_label” column with the loc() function

In [5]:
df.loc[df['prices']>15,'price_range'] = 'High-range product'

In [6]:
df.loc[(df['prices']>5) & (df['prices']<=15),'price_range'] = 'Mid-range product'

In [7]:
df.loc[df['prices']<=5,'price_range'] = 'Low-range product'

In [8]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product

In [9]:
df['price_range'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range, dtype: int64

Creating the “busiest_day” column with For-Loops

In [10]:
df['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [11]:
result = []

for value in df["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [12]:
df['busiest_day'] = result

In [13]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy

In [14]:
df['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [15]:
from google.colab import files
df.to_pickle('orders_products_merged_updated.pkl') 
files.download('orders_products_merged_updated.pkl')